/*------------------------------------------------------------------

controlling the structure of elements and components and spacing (padding, margins)

No
- colours, typography
-------------------------------------------------------------------*/

#header, #wrapper {
	width: 100%;
}

#wrapper {
	width: 60%;
	margin: 0 20%;
}

#header {
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom:1px solid #CCCCCC;
}

#footer {
	margin-top: 30px;
	padding-top: 30px;
	border-top:1px solid #CCCCCC;
}

#p-content {
	width: 70%;
	float:left;
	margin-right: 5%;
}

#s-content {
	width: 25%;
	float:left;
}

/* navigation 
-------------------------------------------------------------------*/
#navigation {
	width: 100%;
}

	#navigation ul {
		float:right;
	}
	
		#navigation li{
			float:left;
			display:block;
		}
	
		#navigation li a {
			padding: 0.5em 1em 0.5em 1em;
			margin-left: 1em;
			display:block;
		}
		
/* secondary content
-------------------------------------------------------------------*/
#s-content {
	
}

	#s-content h3 {
	  	font-size: 200%;
		margin-bottom: 10px;
	}
	
	#s-content p, #s-content li {
		color:#222;
		font-family:corbel,'lucida grande',helvetica,sans-serif;
		font-size:120%;
		line-height:1.5;
		margin-bottom: 10px;
	}
	
	#s-content ul {
		margin-left: 15px;
	}