/*------------------------------------------------------------------

controlling the structure of elements and components and spacing (padding, margins)

No
- colours, typography
-------------------------------------------------------------------*/
body {
	background: #000 url(/images/bg_wood2.jpg);
		font-family:Arial,Helvetica,sans-serif; 
}

#wrapper {
	width: 1000px;
	margin: 0 auto;
	position:absolute;
	left:50%;
	margin-left:-550px;
} 

#content {
  background: #fff;
	padding-top: 50px;
}

#header {
	margin: 30px 0;
}

#footer {
	margin: 30px 0;
}
	#footer .footer_content {
		background:#301100;
		float:left;
		padding: 10px 0;
	}
	
	#footer .footer_content p {
    margin: 0 20px;
		color: #733600;
	}

#p-content {
	width: 540px;
	float:left;
	margin: 0 50px;
	min-height: 500px; 
}

#s-content {
	width: 300px;
	float:right;
	margin-right: 50px;
}

/* navigation 
-------------------------------------------------------------------*/
#navigation {
	width: 100%;
}
	
		#navigation li{
			float:left;
			display:block;
		}
	
		#navigation li a {
			padding: 0.5em 1em 1em 1em;   
			margin-left: 1.5em;
			display:block;
			margin-bottom: -0.5em;
			-moz-border-radius-topleft: 3px;
			-moz-border-radius-topright: 3px;
			-webkit-border-top-left-radius: 3px;
			-webkit-border-top-right-radius: 3px;
		}
		
		.posts_index #home a,
		.posts_archives #archives a,
		.posts_by_month #archives a,
		.posts_by_year #archives a,
		.about #about a {
			font-weight: bold;
			margin-top: -0.5em;
			padding: 0.8em 1em 0.8em 1em;
		}
		
/* secondary content
-------------------------------------------------------------------*/
#s-content {
	
}

	#s-content h3 {
	  font-size: 220%;
		font-family:Cambria,Georgia,serif;  
		font-weight:normal;
		letter-spacing:-1px;
		margin-bottom: 0.5em;
	}
	
	#s-content p, #s-content li {
		color:#222;
		font-size:120%;
		line-height:1.5;
		margin-bottom: 10px;
	}
	
	#s-content ul {
		margin-left: 15px;
	}
	
/* subscribe call to actions
-------------------------------------------------------------------*/
.subscribe {
	margin-bottom:20px;
	width: 100%;
}

	.subscribe a:link, .subscribe a:visited {
		float:left;
		width:49%;
		padding-top: 70px;
		text-align: center;
		background-repeat: no-repeat;
		background-position: top center;
		font-size: 150%;
		text-decoration: none;
		color:#ee2507;
	}
	
	#subscribe-rss {
		background-image: url('/images/feed-icon_orange-64px.png');
	}
	
	#subscribe-twitter {
		background-image: url('/images/twitter.png');
	}