/*------------------------------------------------------------------
Default theme for blog

Name: soapbox

* Organising and orchastrating the css files
-------------------------------------------------------------------*/
/* foundations */
@import url('common/reset.css');
@import url('common/base.css');

/* blog files */
@import url('blog.layout.css');

/*
	palette 
	brown - #423b36
	nymph - #4e5756
	dried dreams - #6f755b
	superbone - #b59f5c
	sole - #e89856

*/

/* Soapbox theme
-------------------------------------------------------------------*/

#navigation li a {
	font-family:Georgia,sans-serif;
	background:#b59f5c;
	color: #fff;
	font-weight: normal;
	font-size: 140%;
	text-decoration: none;
}

#header h2 {
	font-size: 400%;
	color: #fff;
	width: 380px;
	height: 70px;
	display: block;
	background: transparent url(/images/gf-title.png);
	text-indent: -9999px;
}

	
.p-content ul {
	margin-left: 18px;
} 

.p-content p, .p-content li {
	color: #1e1e1e;
	font-size:120%;
	line-height:1.5;
	margin-bottom: 1.5em;
}

a:link {
color:#ee2507;  
}

a:visited {
color:#c40e19;
}

a:hover {
	text-decoration: none;
}

/* headers
-------------------------------------------------------------------*/

/* main header for posts, a post and a page */
#posts h2, .post h1, .p-content h1 {
	font-size: 280%;
	margin-bottom: 5px;
	color:#423b36;
	font-family:Cambria,Georgia,serif;  
	font-weight:normal;
	letter-spacing:-1px;
}

.p-content h2 {
	font-size: 180%;
	font-family:Cambria,Georgia,serif;  
	font-weight:normal;
	letter-spacing:-1px;
}

/* index page
-------------------------------------------------------------------*/

#posts h2 a {
	text-decoration: none;
	color:#423b36;
}

#posts h2 a:hover {
	border-bottom:2px solid #b59f5c;
}
	
  

/* post
-------------------------------------------------------------------*/
.post {
	padding-bottom: 40px;
}

	.post .date {
		color:#777777;
		font-family:Arial,Helvetica,sans-serif;  
		font-size: 200%;
		margin-bottom: 0.5em;
	}


	.post h2 {
		font-size: 220%;
		font-family:Cambria,Georgia,serif;  
		font-weight:normal;
		letter-spacing:-1px;
		margin-bottom: 0.5em;
	}

	.post h3 {
		font-size: 180%;
		font-family:Cambria,Georgia,serif;  
		font-weight:normal;
		letter-spacing:-1px;
	}

	.post h4, .post h5, .post h6 {
		font-family:Arial,Helvetica,sans-serif;
		font-size:150%;
	} 

	.post h5, .post h6 {
		font-family:Arial,Helvetica,sans-serif;
		font-size:120%;
	}                          


/* archives page
-------------------------------------------------------------------*/

#by_month h2 {
	margin-bottom: 0.5em;
}

.posts_by_month h1, .posts_by_year h1 {
	 margin-bottom: 2em;
	 	color:#777777;
		font-family:Arial,Helvetica,sans-serif;  
		font-size: 200%;
}

.posts_by_month h1 strong, .posts_by_year h1 strong {
	color:#ee2507;
}