<div class="subscribe clearfix">
  <a href="/feed.rss" id="subscribe-rss">Subscribe to<br />my RSS feed</a>
  <a href="http://twitter.com/greedyfoodie" id="subscribe-twitter">Follow me<br />on Twitter</a>
</div>

<h3>Recent Posts</h3>
<%= recent_posts %>