<h1>The page you were looking for doesn't exist. oooh</h1>
<p>It seems the page you were looking for <strong><%= params[:path].join('/') %></strong> does not exist. You may have mistyped the address or the page may have moved.</p>
                                         
<p>Here are some pages you may find useful.</p>

<ul>
  <li>Look at the recent posts in the sidebar</li>
  <li><a href="/archives">Browse the archives</a></li>
  <li><a href="/about">Read about this site</a></li>
  <li>...or <a href="/">go back to the homepage</a></li>
</ul>