<h1>About</h1>

<p>Hi. My name is Ben Aldred and this is my food blog. I am not a professional chef or have much of a background in food. I just have a passion for it. weather its buying a new cookbook to try a new recipe or checking out a new restaurant. I am, in short, obsessed with food and drink.</p>

<p>My passion for food was sparked off in my early teens when I received a Wok and a copy of <a href="http://www.amazon.co.uk/Ken-Homs-Illustrated-Chinese-Cookery/dp/0563371560/ref=ed_oe_p">Ken Hom's Illustrated Chinese Cookery</a>. My love of food grew when I got a chance to travel in my early 20s, travelling extensively round S.E. Asia sampling local delights.</p>

<p>I live in Manchester, UK with <a href="http://search.twitter.com/search?q=myvegetariangirlfriend">#myvegetariangirlfriend</a>, which makes my life interesting as I am a devoted carnivore.</p>

<h2>About this site</h2> 
<p>My other passion is my job, I work in the web industry (on the techie side) so I am very interested in seeing how food and technology are used by people on a day to day basis. I essence this is a food blog looking through the eyes of a food obsessed geek.</p>

<h2>Foodie things to do before I die</h2>
<p>I have collected a number of random foodie goals to achieve in my lifetime. My aim to to get through as many as possible and add more in there over time.</p>
<ul id="thelist">
  <li>Eat a Michelin starred curry</li>
  <li>Eat at the Fat Duck</li>
  <li>Eat Bratwurst and drink beer at Oktoberfest</li>
  <li>Hot dogs in New York (Coney Island)</li>
  <li>Kill it, Cook it, Eat it.</li>
  <li>Fish it, Cook it, Eat it.</li>
  <li>Boil a newly laid egg</li>
  <li>Pick your own strawberries</li>
  <li>learn how to make a [cocktail]</li>
  <li>Buy and cook Turbot</li>
  <li>Order a Bellini in Harry's Bar</li>
  <li>Be cooked for by a legend</li>
  <li class="done">Queue for Fish and Chips - Aldeburgh Fish and Chip Shop, Suffolk</li>
  <li class="done">Eat sushi at Tsukiji fish market in Tokyo</li>
  <li>Steak and bottle of red in Argentina</li>
  <li>Milk a cow</li>
  <li class="done">Singapore Sling in Raffles</li>
  <li>Learn to chop like a pro</li>
  <li>Get paid for a restaurant review</li>
  <li>Convert my vegetarian girlfriend to a meat eater (as if I would)</li>
</ul>

<p>If you have any more suggestions for foodie things to do email me or <a href="http://twitter.com/home?status=@greedyfoodie">contact me through twitter</a></p>