<h1>About</h1>

<p>Hi. My name is Ben Aldred and this is my food blog. I am not a professional chef or have much of a background in food. I just have a passion for it. weather its buying a new cookbook to try a new recipe or checking out a new restaurant. I am, in short, obsessed with food and drink.</p>

<p>My passion for food was sparked off in my early teens when I received a Wok and a copy of <a href="http://www.amazon.co.uk/Ken-Homs-Illustrated-Chinese-Cookery/dp/0563371560/ref=ed_oe_p">Ken Hom's Illustrated Chinese Cookery</a>. My love of food grew when I got a chance to travel in my early 20s, travelling extensively round S.E. Asia sampling local delights.</p>

<p>I live in Manchester, UK with <a href="http://search.twitter.com/search?q=myvegetariangirlfriend">#myvegetariangirlfriend</a>, which makes my life interesting as I am a devoted carnivore. My other passion is my job, I work in the web industry so I am very interested in how food and the WWW go together.</p>

<h2>Foodie things to do before I die</h2>

<ul>
  <li>Eat a Michellen starred curry</li>
  <li>Eat at the Fat Duck</li>
  <li>Eat Bratwurst and drink beer at Oktoberfest</li>
  <li>Hot dogs in New York (Coney Island)</li>
  <li>Kill it, Cook it, Eat it.</li>
  <li>Fish it, Cook it, Eat it.</li>
  <li>Boil a newly laid egg</li>
  <li>pick your own strwberries</li>
  <li>learn how to make a [cocktail]</li>
  <li>Buy and cook Tubot</li>
  <li>Order a Bellini in Harry's Bar</li>
  <li>Be cooked for by a legend</li>
  <li>Queue for Fish and Chips - Aldeburgh Fish and Chip Shop, Suffolf</li>
  <li>Eat sushi at Tjuskii fish market in Tokyo</li>
  <li>steak and bottle of red in Argentina</li>
  <li>Milk a cow</li>
  <li>Singapore Sling in Raffles</li>
  <li>learn to chop like a pro</li>
  <li>Get paid for a restaurant review</li>
  <li>Convert my vegetarian girlfriend to a meat eater (as if I would)</li>
</ul>