<% form_for :post, :url => { :action => "update" } do |f| %>
  <%= render :partial => 'form', :object => f %>
  <div class="btns">
    <%= f.submit "Save Draft" %>
    <%= f.submit "Publish" %>
  </div>
<% end %>