<%
  @page = {:title => "Posts in #{@month_name}" }
%>
<h1>Posts in <strong><%= @month_name %></strong></h1>
<% unless @posts.empty? %>
  <div id="posts"> 
    <%= render :partial => "post", :collection => @posts %>
  </div>
<% end %>